body {
    background-color: rgb(204, 204, 204);
}

.titulo{
    background-color: lightcoral;
}
.sinopsis_titulo{
    background-color: rgb(233, 137, 151);
    border: 1px solid black;
}

.sinopsis_contenido{
    background-color: lightpink;
    border: 1px solid black;
}